@use 'sass:map';

$teal: #1FBDAC;
$cyan: #42B4E0;
$green: #62E27B;
$red: #FC4954;
$yellow: #FFC000;
$white: #FFFFFF;
$black: #000000;
$gray: #F3F3F3;
$dark-gray: #A6A6A6;

//Color theme

$colors: (
    'primary': $teal,
    'secondary': $cyan,
    'table': $gray,
    'unsolved': $red,
    'solved': $green,
    'progress': $yellow,
    'dark': $white,
    'light': $black,
    'submit': $gray,
    'text': $dark-gray
);

@each $name, $color in $colors{
    .bg-#{$name}{
        background-color: #{$color};
    }

    .btn-#{$name}{
        background-color: #{$color};
        color: #{$white};
    }

    .text-#{$name} {
        color: $color;
    }

}

